<a href="https://colab.research.google.com/github/gandolerupali/Python/blob/main/Homework_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Tuple Questions**

In [ ]:
# 1)1.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you access the element 15 using positive indexing? Write a Python program to achieve this.

my_tuple = (5, 10, 15, 20, 25)

# print(my_tuple[2])

element = my_tuple[2]

print(element)

15
15

In [ ]:
# 2.	Given a tuple my_tuple = (100, 200, 300, 400, 500), how can you access the element 300 using negative indexing? Write a Python program to achieve this.

my_tuple = (100, 200, 300, 400, 500)

element = my_tuple[-3]

print(element)

300

In [ ]:
# 3.	Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 6 from the nested tuple using indexing? Write a Python program to achieve this.

my_tuple = (1, 2, 3, (4, 5, 6))

element = my_tuple[3][2]

print(element)

6

In [ ]:
# 4.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you slice it to obtain (10, 15, 20)? Write a Python program to achieve this.
my_tuple = (5, 10, 15, 20, 25)

sliced_tuple = my_tuple[1:4]

print(sliced_tuple)

(10, 15, 20)

In [ ]:
# 5.	Given a tuple my_tuple = ('Python', 'Java', 'C++', 'JavaScript'), how can you access the last element without knowing its index? Write a Python program to achieve this.

my_tuple = ('Python', 'Java', 'C++', 'JavaScript')

last_element = my_tuple[-1]

print(last_element)

JavaScript

In [ ]:
# 6.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you concatenate them into a single tuple? Write a Python program to achieve this.

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

tuple3 = tuple1 + tuple2

print(tuple3)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 7.	Given a tuple my_tuple = ('x', 'y', 'z', 'a'), how can you check if the element 'y' exists in the tuple? Write a Python program to achieve this.

my_tuple = ('x', 'y', 'z', 'a')

if 'y' in my_tuple:
  print("Element 'y' exists in the tuple")
else:
  print("Element 'y' does not exist in the tuple")

Element 'y' exists in the tuple

In [ ]:
# 8.	Given a tuple my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple'), how can you count the number of occurrences of 'apple'? Write a Python program to achieve this.

my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple')

count_apple = my_tuple.count("apple")

print("the number of occurrences of 'apple'- ", count_apple)

the number of occurrences of 'apple'-  3

In [ ]:
# 9.	Given a tuple my_tuple = (True, False, True, False), how can you find the number of True values in the tuple? Write a Python program to achieve this.

my_tuple = (True, False, True, False)

count_true = my_tuple.count(True)

print("The number of true values", count_true)

The number of true values 2

In [ ]:
# 10.	Given a tuple my_tuple = ('Python', 3.8, True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3)? Write a Python program to achieve this.

my_tuple = ('Python', 3.8, True, (1, 2, 3))

nested_tuple = my_tuple[3]

print(nested_tuple)

(1, 2, 3)

In [ ]:
# 11.	Given a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.

my_tuple = (10, 20, 30)

my_list = list(my_tuple)

print(my_list)

[10, 20, 30]

In [ ]:
# 12.	Given a tuple my_tuple = (7, 14, 21, 28, 35), how can you find the smallest and largest elements? Write a Python program to achieve this.

my_tuple = (7, 14, 21, 28, 35)

smallest = min(my_tuple)
largest = max(my_tuple)

print("Smallest element:", smallest)
print("Largest element:", largest)

Smallest element: 7
Largest element: 35

In [ ]:
# 13.	Given a tuple my_tuple = (2, 4, 6, 8, 10), how can you find the sum of all elements? Write a Python program to achieve this.

my_tuple = (2, 4, 6, 8, 10)

sum_of_elements = sum(my_tuple)

print("Sum of all elements:", sum_of_elements)

Sum of all elements: 30

In [ ]:
# 14.	Given a tuple my_tuple = ('a', 'b', 'c', 'd'), how can you reverse the order of elements? Write a Python program to achieve this.

my_tuple = ('a', 'b', 'c', 'd')

reversed_tuple = tuple(reversed(my_tuple))

print(reversed_tuple)

('d', 'c', 'b', 'a')

In [ ]:
# 15.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (1, 2, 3), how can you check if they are equal? Write a Python program to achieve this.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
  print("The tuples are equal")
else:
  print("The tuples are not equal")

The tuples are equal

In [1]:
# 16.	Given a tuple my_tuple = (10, 20, 30, 40), how can you unpack its values into separate variables? Write a Python program to achieve this.

my_tuple = (10, 20, 30, 40)

a, b, c, d = my_tuple

print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)

a = 10
b = 20
c = 30
d = 40

In [3]:
# 17.	Given a tuple my_tuple = (3, 6, 9, 12, 15), how can you convert it into a string? Write a Python program to achieve this.

my_tuple = (3, 6, 9, 12, 15)

my_string = ''.join(str(element) for element in my_tuple)

print(my_string)

3691215

In [4]:
# 18.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you iterate through it using a for loop? Write a Python program to achieve this.

my_tuple = (1, 2, 3, 4, 5)

for element in my_tuple:
   print(element)

1
2
3
4
5

In [6]:
# 19.	Given a tuple my_tuple = (100, 200, 300, 400), how can you convert it into a dictionary with keys as index positions? Write a Python program to achieve this.

my_tuple = (100, 200, 300, 400)

my_dict = {index: value for index, value in enumerate(my_tuple)}

print(my_dict)

{0: 100, 1: 200, 2: 300, 3: 400}

In [11]:
# 20.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you delete the entire tuple? Write a Python program to achieve this.

my_tuple = (1, 2, 3, 4, 5)

del my_tuple

#print(my_tuple)

**Set Interview Questions**

In [12]:
# Question 1: Given a set my_set = {10, 20, 30, 40, 50}, how can you check if the number 30 exists in the set? Write a Python program to achieve this.

my_set = {10, 20, 30, 40, 50}

if 30 in my_set:
  print("30 exists in the set")
else:
  print("30 does not exist in the set")

30 exists in the set

In [13]:
# Question 2: Suppose you have a set my_set = {1, 2, 3, 4, 5}. How can you add the element 6 to this set? Write a Python program to achieve this.

my_set = {1, 2, 3, 4, 5}

my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [14]:
# Question 3: Given a set my_set = {10, 20, 30, 40, 50}, how can you remove the element 30 from the set? Write a Python program to achieve this.

my_set = {10, 20, 30, 40, 50}

my_set.remove(30)

print(my_set)

{50, 20, 40, 10}

In [16]:
# Question 4: Suppose you have two sets: set1 = {1, 2, 3} and set2 = {3, 4, 5}. How can you find their union? Write a Python program to achieve this.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

#set3 = set1.union(set2)

set3 = set1 | set2

print(set3)

{1, 2, 3, 4, 5}

In [17]:
# Question 5: Given two sets set1 = {10, 20, 30} and set2 = {30, 40, 50}, how can you find their intersection? Write a Python program to achieve this.

set1 = {10, 20, 30}
set2 = {30, 40, 50}

set3 = set1 & set2

print(set3)

{30}

In [18]:
# Question 6: Suppose you have two sets: set1 = {10, 20, 30} and set2 = {30, 40, 50}. How can you find elements that are in set1 but not in set2? Write a Python program to achieve this.

set1 = {10, 20, 30}
set2 = {30, 40, 50}

set3 = set1.difference(set2)
# set3 = set1 - set2

print(set3)

{10, 20}

In [20]:
# Question 7: Given a set my_set = {1, 2, 3}, how can you remove an element randomly from the set? Write a Python program to achieve this.

my_set = {1, 2, 3}

# # Removing a random element
my_set.pop()

print(my_set)

{2, 3}

In [22]:
# Question 8: Suppose you have a set my_set = {1, 2, 3, 4, 5}, how can you clear all elements from this set? Write a Python program to achieve this.

my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

In [24]:
# Question 9: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you find the symmetric difference? Write a Python program to achieve this.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Calculate symmetric difference
#symmetric_difference = set1.symmetric_difference(set2)

symmetric_difference = set1 ^ set2

print(symmetric_difference)

{1, 2, 4, 5}

In [25]:
# Question 10: Suppose you have a set my_set = {10, 20, 30, 40, 50}, how can you find the length of the set? Write a Python program to achieve this.

my_set = {10, 20, 30, 40, 50}

length = len(my_set)

print(length)

5

In [27]:
# Question 11: Given a set set1 = {10, 20, 30} and a frozen set set2 = frozenset({30, 40, 50}), can you modify set2? Write a Python program to explain why.

set1 = {10, 20, 30}
set2 = frozenset({30, 40, 50})

print("set1:", set1)
print("set2:", set2)

# Trying to modify frozenset
try:
    set2.add(60)
except AttributeError as e:
    print("Error:", e)

set1: {10, 20, 30}
set2: frozenset({40, 50, 30})
Error: 'frozenset' object has no attribute 'add'

In [28]:
# Question 12: Suppose you have a set my_set = {1, 2, 3}. How can you update it with another set {4, 5, 6}? Write a Python program to achieve this.

my_set = {1, 2, 3}

my_set.update({4, 5, 6})

print(my_set)

{1, 2, 3, 4, 5, 6}

In [29]:
# Question 13: Given a set my_set = {'apple', 'banana', 'cherry'}, how can you check if it is a subset of another set { 'apple', 'banana', 'cherry', 'date'}? Write a Python program to achieve this.

my_set = {'apple', 'banana', 'cherry'}

other_set = {'apple', 'banana', 'cherry', 'date'}

is_subset = my_set.issubset(other_set)

print(is_subset)

True

In [30]:
# Question 14: Suppose you have two sets set1 = {1, 2, 3, 4} and set2 = {3, 4}, how can you check if set2 is a subset of set1? Write a Python program to achieve this.

set1 = {1, 2, 3, 4}
set2 = {3, 4}

is_subset = set2.issubset(set1)

print(is_subset)

True

In [32]:
# Question 15: Given a set set1 = {1, 2, 3, 4, 5}, how can you convert it into a list? Write a Python program to achieve this.

set1 = {1, 2, 3, 4, 5}

my_list = list(set1)

print(my_list)

[1, 2, 3, 4, 5]

In [33]:
# Question 16: Suppose you have a list my_list = [10, 20, 30, 40, 50, 10, 20], how can you remove duplicates and convert it into a set? Write a Python program to achieve this.

my_list = [10, 20, 30, 40, 50, 10, 20]

# removing duplicate
my_set = set(my_list)

print(my_set)

{40, 10, 50, 20, 30}

In [34]:
# Question 17: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you check if they are disjoint? Write a Python program to achieve this.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

is_disjoint = set1.isdisjoint(set2)

print(is_disjoint)

# Here, both sets contain 3, so they are not disjoint, therefore output is False.

False

In [35]:
# Question 18: Suppose you have a set my_set = {10, 20, 30}, how can you iterate over its elements and print them? Write a Python program to achieve this.

my_set = {10, 20, 30}

for element in my_set:
  print(element)

# A for loop can directly iterate over a set.

10
20
30

In [36]:
# Question 19: Given a set my_set = {10, 20, 30, 40, 50}, how can you find the minimum and maximum values? Write a Python program to achieve this.

my_set = {10, 20, 30, 40, 50}

minimum = min(my_set)
maximum = max(my_set)

print("Minimum value:", minimum)
print("Maximum value:", maximum)

Minimum value: 10
Maximum value: 50

In [37]:
# Question 20: Suppose you have two sets set1 = {1, 2, 3} and set2 = {4, 5, 6}, how can you merge them into a single set? Write a Python program to achieve this.

set1 = {1, 2, 3}
set2 = {4, 5, 6}

merged_set = set1.union(set2)

print(merged_set)

{1, 2, 3, 4, 5, 6}

**Dictionary Interview Questions**

In [38]:
# Question 1: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you access the value associated with key 'b'? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

value = my_dict['b']

print(value)

20

In [40]:
# Question 2: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}, how can you update the value of 'age' to 30? Write a Python program to achieve this.

my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

print(my_dict)

my_dict['age'] = 30

print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}
{'name': 'John', 'age': 30, 'city': 'New York'}

In [41]:
# Question 3: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you remove the key 'b'? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

print(my_dict)

del my_dict['b']

print(my_dict)

{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'c': 30}

In [42]:
# Question 4: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you add a new key-value pair 'city': 'London'? Write a Python program to achieve this.

my_dict = {'name': 'Alice', 'age': 30}

print(my_dict)

my_dict['city'] = 'London'

print(my_dict)

{'name': 'Alice', 'age': 30}
{'name': 'Alice', 'age': 30, 'city': 'London'}

In [44]:
# Question 5: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all keys? Write a Python program to achieve this.

my_dict = {'x': 1, 'y': 2, 'z': 3}

keys_list = list(my_dict.keys())

print(keys_list)

['x', 'y', 'z']

In [45]:
# Question 6: Suppose you have a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all values? Write a Python program to achieve this.

my_dict = {'x': 1, 'y': 2, 'z': 3}

values_list = list(my_dict.values())

print(values_list)

[1, 2, 3]

In [46]:
# Question 7: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you check if key 'b' exists? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

if 'b' in my_dict:
  print("Key 'b' exists in the dictionary")
else:
  print("Key 'b' does not exist in the dictionary")

Key 'b' exists in the dictionary

In [47]:
# Question 8: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you iterate over its key-value pairs? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

for key, value in my_dict.items():
  print(key, value)

a 10
b 20
c 30

In [48]:
# Question 9: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you clear all elements from the dictionary? Write a Python program to achieve this.

my_dict = {'x': 1, 'y': 2, 'z': 3}

print(my_dict)

my_dict.clear()

print(my_dict)

{'x': 1, 'y': 2, 'z': 3}
{}

In [49]:
# Question 10: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you find its length? Write a Python program to achieve this.

my_dict = {'name': 'Alice', 'age': 30}

length = len(my_dict)

print(length)

2

In [51]:
# Question 11: Given two dictionaries dict1 = {'a': 1, 'b': 2} and dict2 = {'c': 3, 'd': 4}, how can you merge them? Write a Python program to achieve this.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

#dict3 = {**dict1, **dict2}

dict3 = dict1 | dict2

print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [53]:
# Question 12: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25}, how can you copy it to another dictionary? Write a Python program to achieve this.

my_dict = {'name': 'John', 'age': 25}

print(my_dict)

copy_dict = my_dict.copy()

print(copy_dict)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25}

In [55]:
# Question 13: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you get a default value when accessing a missing key? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

# Accessing a key with a default value
default_value = my_dict.get('d', 0)  # 'd' is missing, default is 0

print(default_value)

0

In [56]:
# Question 14: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you convert it into a list of tuples? Write a Python program to achieve this.

my_dict = {'name': 'Alice', 'age': 30}

print(my_dict)

list_of_tuples = list(my_dict.items())

print(list_of_tuples)

{'name': 'Alice', 'age': 30}
[('name', 'Alice'), ('age', 30)]

In [57]:
# Question 15: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you sort it by keys? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

sorted_dict = dict(sorted(my_dict.items()))

print(sorted_dict)

# my_dict.items() returns key-value pairs as tuples.

# sorted() sorts the tuples by key by default.

{'a': 10, 'b': 20, 'c': 30}

In [60]:
# Question 16: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you delete the 'age' key using the pop() method? Write a Python program to achieve this.

my_dict = {'name': 'Alice', 'age': 30}

print(my_dict)

my_dict.pop('age')

print(my_dict)

{'name': 'Alice', 'age': 30}
{'name': 'Alice'}

In [61]:
# Question 17: Given a dictionary my_dict = {'x': 10, 'y': 20}, how can you check if it is empty? Write a Python program to achieve this.

my_dict = {'x': 10, 'y': 20}

if not my_dict:
  print("Dictionary is empty")
else:
  print("Dictionary is not empty")

Dictionary is not empty

In [62]:
# Question 18: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20}, how can you update it with another dictionary {'c': 30, 'd': 40}? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20}

print(my_dict)

update_dict = {'c': 30, 'd': 40}

my_dict.update(update_dict)

print(my_dict)

{'a': 10, 'b': 20}
{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [63]:
# Question 19: Given a dictionary my_dict = {'apple': 3, 'banana': 5}, how can you get the key associated with the maximum value? Write a Python program to achieve this.

my_dict = {'apple': 3, 'banana': 5}

max_value_key = max(my_dict, key=my_dict.get)

print(max_value_key)

# max(my_dict, key=my_dict.get) finds the key for which the value is maximum.

# my_dict.get is used to retrieve the value for each key during comparison.

banana

In [64]:
# Question 20: Suppose you have a dictionary my_dict = {'a': 1, 'b': 2, 'c': 3}, how can you reverse its key-value pairs? Write a Python program toachievethis.

my_dict = {'a': 1, 'b': 2, 'c': 3}

reversed_dict = {value: key for key, value in my_dict.items()}

print(reversed_dict)

# my_dict.items() gives key-value pairs.

# Dictionary comprehension {value: key for key, value in my_dict.items()} swaps keys and values.

# Result is a new dictionary with values as keys and keys as values.

{1: 'a', 2: 'b', 3: 'c'}